<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-right">
                <p>@TempData["msg"]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary @TempData["bg-color"]" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        $("#myModal").modal("show");
        setTimeout(function () {
            $("#myModal").modal("hide");
        }, 3000);
    }, 1000);
</script>
